body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#start, #submitButton, .rePlayButton {
    font-weight: bold;
    background-color: rgb(119, 67, 219); /* Example background color */
    color: #fff; /* Text color */
    border: none; /* Remove button border */
    padding: 10px 20px; /* Adjust padding as needed */
    cursor: pointer; /* Change cursor on hover */
}

#questionPage {
    background-color: rgb(255, 251, 245);
    padding: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    border: 3px solid rgb(119, 67, 219);
    text-align: center;
    font-size: large;
}

#selections{
    margin: 5px;
    border: 1px solid rgb(119, 67, 219);
}

/* Style the border between header and footer */
header{
    border-bottom: 1px dotted #7777e5;
}

footer{
    border-top: 1px dotted #7777e5;
}
